.about-container{
    border: 3px solid green;
}

.education-container{
    border: 3px solid red;
}

.projects-container{
    border: 3px solid blue;
}

.contact-container{
    border: 3px solid rgb(1, 214, 37);
}